---
import BusinessHours from './BusinessHours.astro';
import ContactInfo from './ContactInfo.astro';
---

<section class="py-12 bg-axolo-yellow/20">
  <div class="container-custom grid md:grid-cols-2 gap-8">
    <BusinessHours />
    <ContactInfo />
  </div>
</section>